{% extends "news/base.html" %}

{% block "content" %}
<div id="content" class="news feed">
    <header class="project-header {{ compact_header }}">
        <div class="row span9">
            <div class="logo">
                <h2 class="section">
                    <a href="{% url "news:list" %}" title="Back to Announcements home">Announcements</a>
                </h2>
            </div>
            <p class="info">
                Look here to find information relevant to you and your work.
                You can filter by a Feed category, and announcements are
                ordered by date.
            </p>
        </div><!-- /row -->
    </header><!-- /project-header -->

    <div class="row">
        <div class="span9">
            <div class="row">
                <div class="feed_block feed_news">
                    <ul class="sticky_news_items">
                    {% for a in sticky_items %}
                        <li>
                            <ul class="span10">
                              <li class='{% if forloop.first %}first{% endif %} {% if forloop.last %}last{% endif %}'>
                                <a href="{% url "news:item" a.slug %}">{{ a.title }}</a>
                                <p>{{ a.body|striptags|truncatewords:25 }}</p>
                              </li>
                            </ul>
                        </li>
                    {% endfor %}
                    </ul>
                    <ul class="news_items">
                    {% for a in items %}
                        <li>
                            <span class="date span1">
                            {{ a.publish_date|date:"M d Y" }}
                            </span>

                            <ul class="span10">
                              <li class='{% if forloop.first %}first{% endif %} {% if forloop.last %}last{% endif %}'>
                                <a href="{% url "news:item" a.slug %}">{{ a.title }}</a>
                                <p>{{ a.body|striptags|truncatewords:25 }}</p>
                              </li>
                            </ul>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="span3 feeds">
            <h3>Feeds</h3>
            <ul>
                {% if not selected_feed %}
                <li class="active">All Announcements</li>
                {% else %}
                <li>
                    <a href="{% url "news:list" %}">All Announcements</a>
                </li>
                {% endif %}

                {% for feed in news_feeds %}
                    {% if feed == selected_feed %}
                    <li class="active">{{ feed.title }}</li>
                    {% else %}
                    <li>
                        <a href="{% url "news:feed" feed.slug %}">{{ feed.title }}</a>
                    </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}


{% block "js_scripts" %}
    <script type="text/javascript">
        window.at_model = 'newsitem';
    </script>
{% endblock %}
